.table-refresh {
    min-width: 400px;
    max-width: 1000px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.table-refresh__table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #009578;
}

.table-refresh__table thead tr {
    background: #009578;
    color: #ffffff;
}

.table-refresh__table th,
.table-refresh__table td {
    text-align: left;
    padding: 9px 18px;
    font-weight: normal;
}

.table-refresh__table tbody tr:nth-of-type(even) {
    background: #eeeeee;
}